@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@400;600;700&display=swap');

:root {
--yellow-light: #dbc170;
--yellow: #b8952e;
--yellow-dark: #84642e;


--gray-100: #f5f5f5;
--gray-200: #d2d2d2;
--gray-300: #9f9f9f;
--gray-400: #7a7a7a;
--gray-500: #5c5c5c;
--gray-600: #2e2c30;
--gray-700: #232225;
--gray-800: #19181b;
--gray-900: #050505;
}

* {
box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
    background: linear-gradient(180deg, #0c0b0d, #050505);
    color: var(--gray-100);
}